html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
.ulh {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #293f59;
}

.lih {
    float: left;
}

.lih a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.lih a:hover {
    background-color: #111111;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}
.nav
{
    background: #b0c0d0;
    width: 20%;
    height:80%;
    float: left;
    overflow-y: scroll;
}

.nav a
{
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}
.nav a:hover
{
    color: red;
    background: #b0c0d0;
}
.nav ul {
    list-style-type: none;
    line-height: 25px;
    padding: 0;
}
.art
{
    width: 80%;
    height:80%;
    float: right;
    overflow-y: scroll;
    background: white;
}
.fot
{
    height: 6%;
    width: 100%;
    margin-top: 800px;
    background: #d7d7d7;
    color:white;
}
.main
{
    width: 90%;
    margin: auto;
    height:1000px;
}